# Folders to ignore
/journeymap/
/dumps/
/crash-reports/
/.mixin.out/
/logs/
/local/
/libraries/
/llibrary/
/saves/
/TombManyGraves/
screenshots/
/mods/
/world/

# Utilities
.github_changelog_generator
github_changelog_generator.gemspec
twitch_export-win.exe
ChangelogGenerator.bat
.build.json
modpack_upload_settings.cfg
ModpackUploadTool.bat

# Client Configs
config/InvTweaks.cfg
config/MouseTweaks.cfg
config/jei/worldSettings.cfg
config/jei/lookupHistory.zip
config/jei/bookmarks.ini
.curseclient
.ReAuth.cfg
usernamecache.json
usercache.json
knownkeys.txt
servers.dat
realms_persistence.json
WailaErrorOutput.txt
ItemDump.txt
BotaniaVars.dat
options.txt
settings.cfg
ServerStartLinux.sh
ServerStart.bat
README.md
LICENSE_SERVER.md
crafttweaker.log
github_changelog_generator.gemspec
ChangelogGenerator.bat
twitch_export-win.exe
*.zip
*.dll
server.properties
whitelist.json
ops.json
server-start.bat
server-start.sh
settings.cfg
ModpackUploader.ps1
ModpackUploader.bat
Development/settings.ps1
.build.json
server-guide.txt

# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta

# Optional: Generic Modpack Ignores
**/*.log
/.mixin.out
/saves
/downloads
/resourcepacks
.curseclient
options.txt
settings.ps1
server-start-readme.md
server-start-license.md
config/XaeroWorldMap/
eula.txt
