# Folders to ignore
/journeymap/
/dumps/
/crash-reports/
/.mixin.out/
/logs/
/local/
/libraries/
/llibrary/
/saves/
/TombManyGraves/
screenshots/
/mods/
/world/
/config/

# Utilities
.github_changelog_generator
github_changelog_generator.gemspec
twitch_export-win.exe
ChangelogGenerator.bat
.build.json

# Client Configs
config/InvTweaks.cfg
config/MouseTweaks.cfg
config/jei/worldSettings.cfg
config/jei/lookupHistory.zip
config/jei/bookmarks.ini
.curseclient
.ReAuth.cfg
usernamecache.json
usercache.json
knownkeys.txt
servers.dat
realms_persistence.json
WailaErrorOutput.txt
ItemDump.txt
BotaniaVars.dat
settings.cfg
crafttweaker.log
github_changelog_generator.gemspec
ChangelogGenerator.bat
twitch_export-win.exe
*.zip
*.dll
whitelist.json
ops.json
ModpackUploader.ps1
ModpackUploader.bat
.build.json

# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta

# Optional: Generic Modpack Ignores
**/*.log
/.mixin.out
/saves
/downloads
/resourcepacks
.curseclient
settings.ps1
config/XaeroWorldMap/
eula.txt
scb_resources/
XaeroWaypoints/
XaeroWorldMap/
options.txt
